<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ceri@ceri-anne.co.uk">email</a></li>
	        		<li><a href="https://github.com/ceri-anne">github.com/ceri-anne</a></li>
				<li><a href="https://www.ceri-anne.co.uk">ceri-anne.co.uk</a></li>
				</ul>
			</footer>
		</body>
	</html>
